
@font-face {
  font-family: 'PlaylistScript';
  src: url('Playlist-Script.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Now';
  src: url('Now-Regular.ttf')  format('truetype'),
}

.font-playlist-script {
  font-family: 'PlaylistScript';
}

.font-now {
  font-family: 'Now';
}

.font-montserrat {
  font-family: 'Montserrat';
}

.font-dancing-script {
  font-family: 'Dancing Script';
}
